* {
  box-sizing: border-box;
}

@keyframes animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(15px);
  }
  100% {
      transform: translateY(0);
  }
}

.animate__animated.animate__bounceInLeft {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.5s;
}

h3, h5 {
  animation: animation 5s infinite;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%; 
}
#barra {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: #e43003;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  padding: 10px 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

#barra a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#barra a:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  /* background-image: url('./imagem/Home10.png'); */
  background-position: center 15vh; /* move a imagem para baixo até o meio */
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%; /* Cobrirá toda a largura */
  height: 100vh; /* Ocupará toda a altura da viewport */
  display: flex;
  margin-left: 550px;
}

.icon {
  width: 20%;
  translate: -350px;
}

/* .banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); 
  z-index: 1;
}

.banner-content {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  margin-top: -130px;
  margin-left: 300px;
} */

#cx {
  position: relative;
  color: rgb(0, 0, 0);
  top: 0;
  background: #ffffff;
  max-width: 360px;
  width: 100%;
  border-radius: 15px;
  height: 550px;
  padding: 5px;
  text-align: center;
  transform: translateY(-1550px);
  margin-left: 220px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);

}



.campo1, .campo2 {
  width: 70%;
  height: 50px;
  font-size: 15px;
  margin-top: 50px;
  border-radius: 20px;
  border: solid 3px rgb(167, 7, 7);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.consultar {
  cursor: pointer;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e43003;
  color: white;
  margin-top: 75px;
}

#barra img {
  width: 12%;
  translate: -550px;
}

.pr {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100vw;
  width: 100%;
  height: auto;
  filter: brightness(80%);
  z-index: 0;
  margin: 0;
  padding: 0;
}

#pt2 {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  width: 70%;
}

#bloco1, #bloco2, #bloco3 {
  background: #f0f0f0;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: rgb(156, 11, 11);
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 300px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h5 {
  position: absolute;
  color: rgb(156, 11, 11);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -200px;
}

/* #carteiras {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px auto 0;
  gap: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 100px;
} */

/* #carteiras img {
  
    vertical-align: middle;

} */

#button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px auto 0;
  margin-top: -300px;
  gap: 30px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  transition: all 0.6s ease-out;

}

.N, .B, .C, .D {
  position: relative;
  width: 60%;
  max-width: 350px;
  height: 150px;
  color: rgb(31, 30, 30);
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#menu-toggle {
  display: none;
  cursor: pointer;
}

#barra a {
  display: inline-block;
  color: white;
  margin: 0 15px;
  text-decoration: none;
}


.slide-container img {
  border: none;
  border-radius: 50px;
  width: 60%;
}


#carteiras {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.car {
  width: 20%; 
  height: auto;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 16px;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev, .next {
  border-radius: 50px;
  background-color: #e43003;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .ti {
  margin-top: 320px;
  font-family: sans-serif;
  font-size: 50px;
  
}

.ti span {
  color: rgb(255, 255, 255);
  background: #e43003;
  border-radius: 5px;
}

svg {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 400px) and (max-width: 799px) {

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .banner {
    display: flex;
    width: 875px; 
    height: 80vh;
    background-size: 100% 100%;
    background-position: center 18vh;
    /* background-image: url('./imagem/ne');  */
    translate: -775px;
  }
     
   .banner .ti span{
    color: rgb(255, 255, 255);
    background: #e43003;
    border-radius: 5px;
   }

  .banner .ti {
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 35px;
  }
  
  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }

  #pt2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 90%;
  }

  #menu-toggle {
    display: block;
  }

  #barra a {
    display: none;
    width: 100%;
    padding: 10px 0;
  }

  #barra.show-menu a {
    display: block; 
  }

  #button {
    text-align: center;
  }

  h5 {
    margin-top: -1050px;
    font-size: 25px;
  }

  .slide-container img {
    border: none;
    border-radius: 50px;
    width: 100%;
  }
  

}

@media (min-width: 800px) and (max-width: 1550px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .banner {
    display: flex;
    width: 875px; 
    height: 70vh;
    background-size: 100% 100%;
    background-image: url('./imagem/Home10.png'); 
    translate: -775px;
  }

  #cx {
    width: 90%;
    margin: 0 auto;
    margin-top: -10px;
    transform: none;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }

  #pt2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #bloco1, #bloco2, #bloco3 {
    width: 90%;
  }

  #menu-toggle {
    display: block;
  }

  #barra a {
    display: none;
    width: 100%;
    padding: 10px 0;
  }

  #barra.show-menu a {
    display: block; 
  }

  #button {
    text-align: center;
  }

  h5 {
    font-size: 25px;
  }

  #carteiras{
    width: 900px;
    flex-direction: column;
    margin-left: 70px;
    gap: 20px;
    
  }

  #carteiras img {
    position: relative;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: auto; 

  }
}

