@keyframes animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  h3 {
    animation: animation 5s infinite;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 500vh;
    background: #ffffff;
  }
  
  #barra {
    background: transparent;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
  }
  
  .bt1, .bt2, .bt3 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 20px;
    border: none;
    background: none;
    width: 10%;
    /* border: solid 3px #e1173f;
    background: #e1173f; */
    text-align: center;
    translate: 500px;
  }
  
  #cx {
    position: relative;
    color: rgb(0, 0, 0);
    top: 0;
    /* background: #f0f0f0; */
    background: #ffffff;
    max-width: 360px;
    width: 100%;
    border-radius: 15px;
    height: 550px;
    padding: 5px;
    text-align: center;
    margin-left: 300px;
    margin-top: 50px;
    gap: 20px;
    box-shadow: 2px 2px 4px #9e9d9d, -2px -2px 4px #9e9d9d;
  }
  
  .campo1, .campo2 {
    width: 70%;
    height: 50px;
    font-size: 15px;
    margin-top: 50px;
    border-radius: 20px;
    border: solid 3px rgb(167, 7, 7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .consultar {
    cursor: pointer;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(144deg,#e43003,#4f46e5);
    color: white;
    margin-top: 75px;
  }
  
  #barra img {
    width: 12%;
    translate: -520px;
  }
  
  .pr {
    display: flex;
    position: absolute; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100vw; 
    width: 100%;
    height: auto;
    filter: brightness(150%);
    z-index: 0; 
    margin: 0;
    padding: 0;
     filter: brightness(80%);
}

  #pt2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px auto;
    width: 100%;
    
  }
  
  #bloco1, #bloco2, #bloco3 {
    background: #f0f0f0;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h3 {
    color: rgb(156, 11, 11);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
  }

  #carteiras {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px auto 0;
    gap: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 1000px;
    /* border: solid 4px rgb(187, 187, 187); */
    /* box-shadow: 2px 2px 4px #8f8d8d, -2px -2px 4px #8f8d8d; */
  }
  
  #carteiras img {
    position: relative;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 2px 2px 4px #bebcbc, -2px -2px 4px #bebcbc;
}


@media (max-width: 757px) {
    body {
        height: 300vh;
    }

    .pr {
        width: 100%;
    }

    #cx {
        width: 90%; 
    }

    #bloco1, #bloco2, #bloco3 {
        width: 90%; 
    }
}

@media (min-width: 800px) and (max-width: 1550px) {
    body {
        width: 90%;
        height: 300vh;
    }

    #button {
        flex-direction: column;
        align-items: center;
    }

    .N, .B, .C, .D {
        width: 80%;
    }

    #container, #caixas {
        flex-direction: column;
        align-items: center;
    }

    #bloco1, #bloco2, #bloco3, .caixa {
        width: 90%;
    }

    .N h1, .B h1, .C h1, .D h1 {
        position: absolute;
        margin-top: 50px;
        margin-left: 175px;
    }

    footer p {
        margin-left: 10px; 
    }
}

@media (min-width: 1550px) {
    body {
        width: 90%;
        height: 300vh;
    }

    #button {
        flex-direction: column;
        align-items: center;
    }

    .N, .B, .C, .D {
        width: 80%;
    }

    #container, #caixas {
        flex-direction: column;
        align-items: center;
    }

    #bloco1, #bloco2, #bloco3, .caixa {
        width: 90%;
    }

    .N h1, .B h1, .C h1, .D h1 {
        position: absolute;
        margin-top: 50px;
        margin-left: 175px;
    }

    footer p {
        margin-left: 5px;
    }
}
